{% extends "base.html.twig" %}

		{% block title %}- A propos
		{% endblock %}

		{% block body %}
			<!-- Content section 1-->
			<section class="page-sections about-section">
				<div class="container px-5">
					<div class="row gx-5 align-items-center">
						<div class="col-lg-6 order-lg-2">
							<div class="p-5 text-center">
                                <img class="img-fluid rounded-circle" src="{{ asset('build/img/avatar.png') }}" alt="{{ painter }}"/>
                            </div>
						</div>
						<div class="col-lg-6 order-lg-1">
							<div class="p-5">
								<h2 class="display-4 text-primary">{{ painter }}</h2>
								<p>{{ painter.about }}</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endblock %}
