{% extends 'base.html.twig' %}

		{% block body %}
			{% include "home/layouts/_welcom.html.twig" %}
			{% include "home/layouts/_realisations.html.twig" %}
			{% include "home/layouts/_blogpost.html.twig" %}
		{% endblock %}
