{% extends "base.html.twig" %}

		{% block title %}- {{ categorie }}
		{% endblock %}

		{% block body %}
			<!-- Portfolio Section-->
			<section class="page-sections page-section portfolio" id="portfolio">
				<div
					class="container">
					<!-- Portfolio Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ categorie }}</h2>
					<!-- Icon Divider-->
					<div class="divider-custom">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon">
							<i class="fas fa-star"></i>
						</div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Portfolio Grid Items-->
					<div class="row justify-content-center">
						{% if paints != [] %}
							{% for paint in paints %}
								<!-- Portfolio Item 1-->
								<div class="col-md-6 col-lg-4 mb-5">
									<div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ paint.id }}">
										<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
											<div class="portfolio-item-caption-content text-center text-white">
												<i class="fas fa-search-plus fa-3x"></i>
											</div>
										</div>
										<img class="img-fluid" src="{{ asset(paint.file) }}" alt="{{ paint.name }}"/>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<p class="mb-0 text-secondary text-center">Désolé aucune peinture pour le moment pour cette catégorie !</p>
						{% endif %}
					</div>
				</div>
			</section>
			{% for paint in paints %}
				{# Modals - Paint #}
				<div class="portfolio-modal modal fade" id="portfolioModal{{ paint.id }}" tabindex="-1" aria-labelledby="portfolioModal{{ paint.id }}" aria-hidden="true">
					<div class="modal-dialog modal-fullscreen">
						<div
							class="modal-content">
							<!-- Portfolio Modal - Text-->
							<div class="d-flex justify-content-between">
								<div class="d-flex justify-content-center align-items-center ps-3">
									<button class="btn btn-primary m-1" data-bs-dismiss="modal" aria-label="Close">
										<i class="fas fa-times fa-fw"></i>
										Fermer
									</button>
									<a href="{{ path('app_realisations_details', {'slug': paint.slug}) }}" class="btn btn-secondary m-1">
										<i class="fas fa-eye fa-fw"></i>
										Afficher détails
									</a>
								</div>
								<div class="modal-header border-0 pe-3">
									<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
							</div>

							<div class="modal-body text-center pb-5">
								<div class="container-fluid">
									<div class="row justify-content-center">
										<div
											class="col-lg-8">
											<!-- Portfolio Modal - Title-->
											<h3 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ paint.name }}</h3>
											<!-- Icon Divider-->
											<div class="divider-custom">
												<div class="divider-custom-line"></div>
												<div class="divider-custom-icon">
													<i class="fas fa-star"></i>
												</div>
												<div class="divider-custom-line"></div>
											</div>
											<!-- Portfolio Modal - Image-->
											<img class="img-fluid rounded mb-5" src="{{ asset(paint.file) }}" alt="{{ paint.name }}"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		{% endblock %}
