{% extends "base.html.twig" %}

		{% block title %}
			- {{ paint.name }}
		{% endblock %}

		{% block styleBody %}bg-primary
		{% endblock %}

		{% block body %}
			<section class="page-sections page-section portfolio" id="portfolio">
				<div class="container-fluid">
					<div class="row justify-content-center g-0">
						<div class="col-lg-5">
							<div class="bg-primary text-light h-100 project">
								<div class="d-flex h-100">
									<div
										class="container p-5">
										<!-- Portfolio Section Heading-->
										<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ paint.name }}</h2>
										<!-- Icon Divider-->
										<div class="divider-custom">
											<div class="divider-custom-line"></div>
											<div class="divider-custom-icon">
												<i class="fas fa-star"></i>
											</div>
											<div class="divider-custom-line"></div>
										</div>
										{% for categorie in paint.categorie %}
											<a href="{{ path('app_portfolio_categorie', {'slug': categorie.slug}) }}" aria-role="link" aria-label="Lien vers les peintures de la catégorie {{ categorie.name }}" style="text-decoration: none; color:initial;">
												<span class="badge bg-secondary fs-4 mb-3">{{ categorie.name|capitalize }}</span>
											</a>
										{% endfor %}
										<p class="mb-0 text-white fs-4">{{ paint.description|capitalize }}</p>

										<ul class="list-group list-group-flush mt-4">
											<li class="list-group-item bg-primary text-light p-0">
												<h3 class="d-flex mb-4 mt-3 fs-6 fw-light">
													Date de réalisation
													<span class="ms-auto">{{ paint.realisationDate|date('d/m/Y') }}</span>
												</h3>
											</li>
											<li class="list-group-item bg-primary text-light p-0">
												<h3 class="d-flex mb-4 mt-3 fs-6 fw-light">
													Largeur
													<span class="ms-auto">{{ paint.width }}
														CM</span>
												</h3>
											</li>
											<li class="list-group-item bg-primary text-light p-0">
												<h3 class="d-flex mb-4 mt-3 fs-6 fw-light">
													Hauteur
													<span class="ms-auto">{{ paint.height }}
														CM</span>
												</h3>
											</li>
											{% if paint.onSale == true  %}
												<li class="list-group-item bg-primary text-light p-0">
													<h3 class="d-flex mb-4 mt-3 fs-6 fw-bold">
														Disponible à la vente
														<span class="ms-auto">{{ paint.price }}
															€</span>
													</h3>
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<img class="img-fluid w-100" src="{{ asset(paint.file) }}" alt="img"/>
						</div>
					</div>
				</div>
			</section>
		{% endblock %}
