{% extends "base.html.twig" %}

		{% block title %}- Portfolio
		{% endblock %}

		{% block body %}
			<!-- Catégorie Section-->
			<section class="realisations page-sections page-section portfolio">
				<div
					class="container-fluid">
					<!-- Catégorie Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Portfolio</h2>
					<p class="mb-0 text-secondary text-center">These can be split into smaller grid sizes, though we recommend half or third...</p>
					<!-- Icon Divider-->
					<div class="divider-custom divider-secondary">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon text-secondary">
							<i class="fas fa-star"></i>
						</div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Icon Divider-->
					<!-- Catégorie Section Heading-->

					{# Catégorie section content #}
						<div
						class="realisation-items">
						{# Catégorie Item #}
						{% for categorie in categories %}
							{% set img = categorie.paints|last %}
							<a href="{{ path('app_portfolio_categorie', {'slug': categorie.slug}) }}" aria-role="link" aria-label="Lien vers les peintures de la catégorie {{ categorie.name }}" style="text-decoration: none; color:initial;">
								<div
									class="realisation-item lift-shadow card">
									{# Picture Item #}
									<div class="portfolio-item mx-auto h-100">
										<img class="realisation-item-picture" src="{{ asset(img.file) }}" alt="{{ categorie.name }}"/>
									</div>
									{# Picture Item #}

									{# Content Item #}
									<div class="card-body">
										<h3 class="card-title">{{ categorie.name|capitalize }}</h3>
										<p class="card-text">{{ categorie.description }}</p>
									</div>
									{# Content Item #}
								</div>
							</a>
						{% endfor %}
						{# Catégorie Item #}
					</div>
					{# Catégorie section content #}
				</div>
			</section>
			<!-- Catégorie Section-->
		{% endblock %}
