{% extends "base.html.twig" %}

		{% block title %}- Réalisations
		{% endblock %}

		{% block body %}
			<!-- Portfolio Section-->
			<section class="realisations page-sections page-section bg-primary portfolio">
				<div
					class="container-fluid">
					<!-- Portfolio Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-light mb-2">Réalisations</h2>
					<p class="mb-0 text-light text-center">These can be split into smaller grid sizes, though we recommend half or third...</p>
					<!-- Icon Divider-->
					<div class="divider-custom divider-light">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon text-light">
							<i class="fas fa-star"></i>
						</div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Icon Divider-->
					<!-- Portfolio Section Heading-->

					{# Pagination #}
						<div class="d-flex justify-content-center"> {% do paints.setPageRange(2) %}
						{{ knp_pagination_render(paints, 'base/pagination.html.twig') }}
					</div>
					{# Portfolio section realisations #}
					<div
						class="realisation-items">
						{# Realisation Item #}
						{% for paint in paints %}
							<div
								class="realisation-item lift-shadow card">
								{# Picture Item #}
								<div class="portfolio-item mx-auto h-100" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ paint.id }}">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white">
											<i class="fas fa-search-plus fa-3x"></i>
										</div>
									</div>
									<img class="realisation-item-picture" src="{{ asset( paint.file ) }}" alt="{{ paint.name }}"/>
								</div>
								{# Picture Item #}

								{# Content Item #}
								<div class="card-body">
									<a href="{{ path('app_realisations_details', {'slug': paint.slug}) }}" aria-role="link" aria-label="Lien vers les peintures de la catégorie {{ paint.name }}" style="text-decoration: none; color:initial;">
										<h3 class="card-title">{{ paint.name|capitalize }}</h3>
										<p class="card-text">{{ paint.description|u.truncate(200, '...', false) }}</p>
										<div class="realisationItem__date">
											<hr>
											<p class="card-text text-end">
												<small class="text-muted">Ajouté le
													{{ paint.createdAt|date('d/m/Y') }}</small>
											</p>
										</div>
									</a>
								</div>
								{# Content Item #}
							</div>
						{% endfor %}
						{# Realisation Item #}
					</div>
					{# Portfolio section realisations #}
				</div>
				{# Pagination #}
				<div class="d-flex justify-content-center">
					{{ knp_pagination_render(paints, 'base/pagination.html.twig') }}
				</div>
			</section>
			<!-- Portfolio Section-->

			{# Portfolio Modals #}
			{% for paint in paints %}
				{# Modal item #}
				<div class="portfolio-modal modal fade" id="portfolioModal{{ paint.id }}" tabindex="-1" aria-labelledby="portfolioModal{{ paint.id }}" aria-hidden="true">
					<div class="modal-dialog modal-fullscreen">
						<div
							class="modal-content">
							<!-- Portfolio Modal - Text-->
							<div class="d-flex justify-content-between">
								<div class="d-flex justify-content-center align-items-center ps-3">
									<button class="btn btn-primary m-1" data-bs-dismiss="modal" aria-label="Close">
										<i class="fas fa-times fa-fw"></i>
										Fermer
									</button>
									<a href="{{ path('app_realisations_details', {'slug': paint.slug}) }}" class="btn btn-secondary m-1">
										<i class="fas fa-eye fa-fw"></i>
										Afficher détails
									</a>
								</div>
								<div class="modal-header border-0 pe-3">
									<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
							</div>

							<div class="modal-body text-center pb-5">
								<div class="container-fluid">
									<div class="row justify-content-center">
										<div
											class="col-lg-8">
											<!-- Portfolio Modal - Title-->
											<h3 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ paint.name }}</h3>
											<!-- Icon Divider-->
											<div class="divider-custom">
												<div class="divider-custom-line"></div>
												<div class="divider-custom-icon">
													<i class="fas fa-star"></i>
												</div>
												<div class="divider-custom-line"></div>
											</div>
											<!-- Portfolio Modal - Image-->
											<img class="img-fluid rounded mb-5" src="{{ asset(paint.file) }}" alt="{{ paint.name }}"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# Modal item #}
			{% endfor %}
		{% endblock %}
