<!-- Footer-->
		<footer class="footer text-center">
			<div class="container">
				<div
					class="row">
					<!-- Footer Infos-->
					<div class="col-lg-4 mb-5 mb-lg-0" id="footerInfo">
						<h4 class="text-uppercase mb-4">Infos</h4>
						<p class="lead mb-0">
							<img src="{{ asset('build/img/logo.png') }}" class="footer-img me-1" alt="">
							Artiste Peintre
						</p>
					</div>
					<!-- Footer Social Icons-->
					<div class="col-lg-4 mb-5 mb-lg-0">
						<h4 class="text-uppercase mb-4">Réseaux</h4>
						<a class="btn btn-outline-light btn-social mx-1" href="#!">
							<i class="fab fa-fw fa-facebook-f"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="#!">
							<i class="fab fa-fw fa-twitter"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="#!">
							<i class="fab fa-fw fa-linkedin-in"></i>
						</a>
						<a class="btn btn-outline-light btn-social mx-1" href="#!">
							<i class="fab fa-fw fa-dribbble"></i>
						</a>
					</div>
					<!-- Footer About Text-->
					<div class="col-lg-4">
						<h4 class="text-uppercase mb-4">Menu</h4>
						{# Menu : Réalisations, actualités, portfolio, a propos, me contacter #}
						<ul class="footer-nav nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_realisations') }}">Réalisations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_actualites') }}">Actualités</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_portfolio') }}">Portfolio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_about') }}">A propos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_contact') }}">Me contacter</a>
							</li>
						</ul>
					</div>
				</div>
				<hr
				class="dropdown-divider">
				{# Footer Menu #}
				<div class="row mt-5">
					<div class="col-lg-6 col-md-6 col-sm-6 mb-5 mb-lg-0">
						<h4 class="text-uppercase mb-4">A Propos</h4>
						<p class="lead mb-0">Artiste peintre à Chomérac au coeur de l'Ardèche</p>
						<p class="mb-0">Je réalise mes peintures à l'aquarelle directement à l'atelier ou en pleine nature !</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 mb-5 mb-lg-0">
						<h4 class="text-uppercase mb-4">Mentions légales</h4>
						{# RGPD #}
						<ul class="footer-nav nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">RGPD</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
