<!-- Navigation-->
		<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_home') }}">
					<img src="{{ asset('build/img/logo.png') }}" class="navbar-brand-img" alt="">
				</a>
				<button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarResponsive">
					<ul class="navbar-nav ms-auto align-items-lg-center">
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded {% if app.request.get('_route') == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded {% if app.request.get('_route') == 'app_realisations' %}active{% endif %}" href="{{ path('app_realisations') }}">Réalisations</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded {% if app.request.get('_route') == 'app_actualites' or (app.request.get('_route') == 'app_actualites_details' and app.request.attributes.get('slug') == blogpost.slug) %}active{% endif %}" href="{{ path('app_actualites') }}">Actualités</a>
						</li>
						<li class="nav-item dropdown mx-0 mx-lg-1">
							<a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded {% if app.request.get('_route') == 'app_realisations_details' or app.request.get('_route') == 'app_portfolio_categorie' or app.request.get('_route') == 'app_portfolio' %}active{% endif %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="subnavbarResponsive">
								{% for categorie in categorieNav() %}
									<li>
										<a class="dropdown-item dropdown-item-color {% if app.request.get('_route') == 'app_portfolio_categorie' and app.request.attributes.get('slug') == categorie.slug %}active{% endif %}" href="{{ path('app_portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.name }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded {% if app.request.get('_route') == 'app_about' %}active{% endif %}" href="{{ path('app_about') }}">A propos</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a href="{{ path('app_contact') }}" class="btn btn-md btn-primary ms-auto {% if app.request.get('_route') == 'app_contact' %}active{% endif %}">Me contacter</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
