// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

// Styling for page sections
.page-section {
    padding: 6rem 0;

    // box shadow effects
    .lift-shadow {
        &:hover {
            cursor: pointer;
            box-shadow: 6px 5px 11px 3px rgba(0,0,0,0.34);
        }    
    }
    
    .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }

    @include media-breakpoint-up(lg) {
        .page-section-heading {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}
// Style global pour toutes les autres pages
.page-sections {
    padding-top: calc(6rem + 74px);
}
