// 
// Navbar
// 

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    .navbar-brand {
        display: none;
        @media screen and (min-width: 220px) {
            display: initial;
        }

        .navbar-brand-img {
            max-width: 50px;
            height: auto;
        }
    }

    .navbar-nav {
        margin-top: 1rem;

        li.nav-item {
            a.nav-link {
                color: $white;

                &:hover {
                    color: $primary;
                }

                &:active,
                &:focus {
                    color: $white;
                }

                &.active {
                    color: $primary;
                }
            }
        }

        li.dropdown {
            #subnavbarResponsive {
                width: 20%;
                margin: 0 auto;
                text-align: center;
                background-color: var(--bs-gray);

                li>a.dropdown-item-color {
                    color: var(--bs-white)!important;

                    &:hover {
                        color: var(--bs-white)!important;
                        background-color: $teal;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        font-size: 80%;
        padding: 0.8rem;
    }
}

@include media-breakpoint-up(lg) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;

        .navbar-brand {
            .navbar-brand-img {
                max-width: 70px;
                transition: max-width .3s;
            }
        }

        .navbar-nav {
            margin-top: 0;
        }

        .navbar-nav>li.nav-item>a.nav-link.active {
            color: $white;
            background: $primary;

            &:active,
            &:focus,
            &:hover {
                color: $white;
                background: $primary;
            }
        }
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
