<!-- Submit message-->
{% for label, messages in app.flashes(['success', 'danger']) %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}
<!-- Submit message-->
<form id="contactForm" method="post" name="contact" novalidate>
	<div id="contact">
		<!-- Name input-->
		<div class="form-floating mb-3">
			{{ form_widget(form.name) }}
			{{ form_label(form.name) }}
			<div class="invalid-feedback">
				{{ form_errors(form.name) }}
			</div>
		</div>
		<!-- Email address input-->
		<div class="form-floating mb-3">
			{{ form_widget(form.email) }}
			{{ form_label(form.email) }}
			<div class="invalid-feedback">
				{{ form_errors(form.email) }}
			</div>
		</div>
		<!-- Message textarea -->
		<div class="form-floating mb-3">
			{{ form_widget(form.message) }}
			{{ form_label(form.message) }}
			<div class="invalid-feedback">
				{{ form_errors(form.message) }}
			</div>
		</div>
		<!-- Submit Button-->
		{{ form_widget(form.submit) }}
		{{ form_widget(form._token) }}
	</div>
</form>
