<form method="post" id="form-signin">
			{# Icon Logo #}
			<img class="mb-4" src="{{ asset('build/img/logo.png') }}" alt="" width="72" height="57">
			<h1 class="page-section-heading text-center text-uppercase text-secondary mb-2">Sign in</h1>
			<p class="masthead-subheading font-weight-light mb-0 text-center">Simplify your workflow in minutes</p>
			<!-- Icon Divider-->
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon">
					<i class="fas fa-star"></i>
				</div>
				<div class="divider-custom-line"></div>
			</div>
			{# ERROR VALIDATION MESSAGE #}
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			{# IF USER CONNECTED #}
			{% if app.user %}
				<div class="mb-3">
					Tu es déjà connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<div class="form-floating mb-3">
				<input type="email" value="{{ last_username }}" name="email" id="floatingInput" class="form-control" autocomplete="email" placeholder="name@example.com" required autofocus>
				<label for="floatingInput">Email</label>
			</div>
            <div class="form-floating mb-3">
                <input type="password" name="password" id="floatingPassword" class="form-control" autocomplete="current-password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
			</div>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
																				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																				        See https://symfony.com/doc/current/security/remember_me.html
																				
																				        <div class="checkbox mb-3">
																				            <label>
																				                <input type="checkbox" name="_remember_me"> Remember me
																				            </label>
																				        </div>
																				    #}

			<button class="w-100 btn btn-md btn-primary" type="submit">
				Sign in
			</button>
		</form>
