<!-- Last Realisation Section-->
		<section class="page-section portfolio" id="portfolio">
			<div
				class="container">
				<!-- Last Realisation Section Heading-->
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Dernières réalisations</h2>
				<p class="masthead-subheading font-weight-light mb-0 text-center">These span the grid's entire with several options</p>
				<!-- Icon Divider-->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fas fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>
				<!-- Last Realisation Grid Items-->
				<div
					class="row justify-content-center" id="portfolioRealisations">
					<!-- Last Realisation Item -->
					{% for paint in paints %}
						<a href="{{ path('app_realisations_details', {'slug': paint.slug}) }}" aria-role="link" aria-label="Lien vers les peintures de la catégorie {{ paint.name }}" style="text-decoration: none; color:initial;">
							<div class="lift-shadow card mb-5 p-0">
								<div class="row g-0">
									<div class="realisation-picture col-md-6">
										<img src="{{ asset(paint.file) }}" class="rounded-start" alt="{{ paint.name }}">
									</div>
									<div class="realisation-item col-md-6">
										<div class="card-body">
											<h3 class="card-title">{{ paint.name|capitalize }}</h3>
											<p class="card-text mb-5">{{ paint.description|u.truncate(200, '...', false) }}</p>
											<div class="realisationItem__date">
												<hr>
												<p class="card-text text-end">
													<small class="text-muted">Ajouté le
														{{ paint.createdAt|date('d/m/Y') }}</small>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
					<!-- Last Realisation Item -->
				</div>
			</div>
		</section>
