<!-- Masthead-->
<header class="masthead text-light text-center">
    <div
        class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img
        class="masthead-avatar mb-5" src="{{ asset('build/img/avataaars.svg') }}" alt="..."/>
        <!-- Masthead Heading-->
        <div class="masthead-content">
            <h1 class="masthead-heading text-uppercase mb-0">Artiste Peintre</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon text-primary">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Artiste Peintre à Chomérac, au coeur de l'Ardèche</p>
            <p class="masthead-subheading font-weight-bold mb-0 mt-3">
                <a href="{{ path('app_portfolio') }}" class="btn btn-lg btn-primary ms-auto">Découvrir mon porfolio <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>
</header>