{% extends "base.html.twig" %}

		{% block title %}- Actualités
		{% endblock %}

		{% block body %}
			<!-- Actu Section-->
			<section class="page-sections page-section bg-primary text-white mb-0" id="aboutAll">
				<div
					class="container-md mb-5">
					<!-- Actu Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-white">Dernières actualités</h2>
					<p class="masthead-subheading font-weight-light mb-0 text-center">These can be split into smaller grid size, though we recommend half of thirds</p>
					<!-- Icon Divider-->
					<div class="divider-custom divider-light">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon">
							<i class="fas fa-star"></i>
						</div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Actu Section Content-->
					<div
						class="lastActu row justify-content-center">
						{# Blogpost Item #}
						{% for post in blogposts %}
							<div class="col-md-8 col-lg-4">
								<a href="{{ path('app_actualites_details', {'slug': post.slug}) }}" aria-role="link" aria-label="Lien vers le post {{ post.title }}" style="text-decoration: none; color:inherit;">
									<div class="lift-shadow actu-item card">
										<div class="card-body">
											<h3 class="card-title">{{ post.title|capitalize }}</h3>
											<p class="card-text">{{ post.content|u.truncate(150, '...', false)|capitalize }}</p>
											<div class="actuItem__date">
												<hr>
												<p class="card-text text-end">
													<small class="text-light">Ajouté le
														{{ post.createdAt|date('d/m/Y') }}</small>
												</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
						{# Blogpost Item #}
					</div>
				</div>
				{# Paginator #}
				{{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
				{# Paginator #}
			</section>
		{% endblock %}
