{% extends "base.html.twig" %}

		{% block title %}
			{{ blogpost.title }}
		{% endblock %}

		{% block body %}
			<section class="page-sections page-section">
				{% set referer = pageReferer(app.request) %}
				<div class="bg-primary p-5" id="postDetails">
					<div class="d-flex">
						<a href="{{ path(referer) }}" class="btn btn-secondary mb-5 me-3">
							<i class="fas fa-undo-alt"></i>
							Retour
						</a>
						<a href="{{ path('app_actualites') }}" class="btn btn-secondary mb-5">
							<i class="fas fa-eye"></i>
							Voir les actualités
						</a>
					</div>

					<!-- Actu Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-light">{{ blogpost.title }}</h2>
					<!-- Icon Divider-->
					<div class="divider-custom divider-light">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon">
							<i class="fas fa-star"></i>
						</div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Actu Section Content-->
					<div class="container-fluid text-light">
						<div class="row align-items-center py-3 mx-5 border-top border-bottom border-1 m-3">
							<time class="text-uppercase" datetime="{{ blogpost.createdAt|date('Y-m-d') }}">
								Publiée le
								{{ blogpost.createdAt|date('d/m/Y') }}
							</time>
						</div>
						<div class="row justify-content-center">
							<div class="col-12 col-md-10 col-lg-9 col-xl-8">
								<p class="mb-6">
									{{ blogpost.content }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endblock %}
