//
// Actu section
//

.lastActu {
    gap: 3rem!important;
    .col-md-6.col-lg-4 {
        padding: 0!important;
        width: 18rem!important;
        min-height: 285px!important;
    }
    .actu-item {
        background-color: $secondary!important;
        height: 100%!important;

        .card-body {
            position: relative!important;

            &>.card-text {
                margin-bottom: 4rem!important;
            }
            .actuItem__date {
                position: absolute!important;
                bottom: 0!important;
                right: 0!important;
                width: 100%!important;
                padding: 1rem 1rem!important;
            }
        }
    }
}