// 
// Footer
// 

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $secondary;
    color: $white;

    #footerInfo {
        .footer-img {
            max-width: 30px;
            height: auto;
        }
    }

    .footer-nav {
        li.nav-item {
            a.nav-link {
                padding: .5rem 0!important;
            }
        }
    }
}

.copyright {
    background-color: darken($secondary, 10%);
}