// 
// Masthead
// 

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background: no-repeat url('../../../img/portfolio/paint1.jpg');
    
    .masthead-content {
        background-color: rgba($color: $dark-blue, $alpha: .6);
        box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.53);
        padding: 2rem;
        border-radius: 0.5rem;

        .masthead-heading {
            font-size: 2.75rem;
            line-height: 2.75rem;
        }

        .masthead-subheading {
            font-size: 1.25rem;
        }    
    }
    

    .masthead-avatar {
        width: 15rem;
    }
}

@include media-breakpoint-up(lg) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;

        .masthead-heading {
            font-size: 4rem;
            line-height: 3.5rem;
        }

        .masthead-subheading {
            font-size: 1.5rem;
        }

    }
}
