// 
// Portfolio
// 

.portfolio {
    .portfolio-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: $border-radius;
        overflow: hidden;

        .portfolio-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($dark-blue, .1);

            &:hover {
                opacity: 1;
            }

            .portfolio-item-caption-content {
                font-size: 1.5rem;
            }
        }
    }
}

// Styling for the portfolio modals
.portfolio-modal {
    .btn-close {
        color: $primary;
        font-size: 2rem;
        padding: 1rem;
    }

    .portfolio-modal-title {
        font-size: 2.25rem;
        line-height: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}

// homepage last realisations
#portfolioRealisations {
    width: 80%;
    margin: 0 auto;
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-body {
        padding: 3rem 3rem 1rem 2rem!important;
    }
    .row {
        min-height: 370px;
        .realisation-picture {
            clip-path: ellipse(95% 90% at 49% 10%);
            @include media-breakpoint-up(md) {
                clip-path: ellipse(87% 110% at 12% 2%);
            }
        }
        .realisation-item {
            .card-body {
                position: relative;
                height: 100%;
                .realisationItem__date {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    padding: 1rem 2rem;
                }
            }
        }

    }
    
}

// realisations page
.realisations {
    .realisation-items {
        display: flex!important;
        flex-wrap: wrap!important;
        justify-content: center!important;
        .realisation-item {
            padding: 0!important;
            margin: 2rem!important;
            min-width: 20rem!important;
            max-width: 30rem!important;
    
            .portfolio-item {
                width: 100%!important;
                max-width: none!important;
    
                .realisation-item-picture {
                    width: 100%!important;
                    height: 100%!important;
                    object-fit: cover!important;
                }
            }

            .card-body {
                position: relative!important;
                height: 100%!important;

                &>.card-text {
                    @media screen and (max-width: 500px) and (orientation: portrait) {
                        margin-bottom: 4rem!important;
                    }
                }
                .realisationItem__date {
                    position: absolute!important;
                    bottom: 0!important;
                    right: 0!important;
                    width: 100%!important;
                    padding: 1rem 2rem!important;
                }
            }
        }
    }
}