//
// Form Sign In
//

.signIn {
    display: flex!important;
    align-items: center!important;
    padding-top: 40px!important;
    padding-bottom: 40px!important;
    height: 100%!important;
    background: no-repeat url('../../../img/portfolio/paint1.jpg');

    .divider-custom-icon {
        color: $primary;
    }

    #form-signin {
        width: 100%;
        max-width: 330px;
        padding: 3rem;
        margin: auto;
        text-align: center;
        background: rgba($color: #ffffff, $alpha: .7);
        border-radius: .5rem;
        border: solid 3.5px $secondary;

        .form-floating {

            input.form-control {
                font-size: 1rem;
                padding: .7rem 1rem;
                height: 3.5rem;
                border-radius: .25rem;
                border: solid 1px $primary;

                &:focus ~ label, &:not(:placeholder-shown) ~ label {
                    color: $primary;
                    font-weight: bold;
                    transform: scale(0.65) translateY(-0.5rem) translateX(.3rem);
                    margin-bottom: .5rem;
                }
            }

            label {
                font-size: 1.3rem;
                padding: .5rem 1rem;
            }
        }
    }    
}
