{% extends "base.html.twig" %}

		{% block title %}- Contact
		{% endblock %}

		{% block body %}
			<section class="page-sections page-section" id="contact">
				<div
					class="container">
					<!-- Contact Section Heading-->
					<h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Me contacter</h2>
					<p class="fs-lg text-center mb-0">Une question ? Envie d'acheter une toile ? N'hésitez pas à me contacter</p>
					<!-- Icon Divider-->
					<div class="divider-custom">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon">
							<i class="fas fa-star"></i>
						</div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Contact Section Form-->
					<div class="row justify-content-center">
						<div class="col-lg-8 col-xl-7 text-center">
							{# formulaire de contact #}
							{% include "contact/layouts/_form.html.twig" %}
						</div>
					</div>
				</div>
			</section>
		{% endblock %}
