{% extends "base_mail.html.twig" %}

        {% block date %}
            Message envoyé le {{ createdAt|date('d/m/Y') }}
        {% endblock %}

        {% block infosContact %}
            <p style="font-size: 14px; line-height: 160%; text-align: right;">{{ contactName }}</p>
            <p style="font-size: 14px; line-height: 160%; text-align: right;">{{ contactEmail }}</p>
        {% endblock %}

        {% block subject %}
            Contact de Mr/Mme {{ contactName }}
        {% endblock %}

        {% block message %}
            {{ message }}
        {% endblock %}

		{# Button - amélioration prévue quand il y aura le back office #}
		{# <a href="https://unlayer.com/" target="_blank" style="box-sizing: border-box;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #1abc9c; border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; border-top-width: 2px; border-top-style: solid; border-left-width: 2px; border-left-style: solid; border-right-width: 2px; border-right-style: solid; border-bottom-width: 2px; border-bottom-style: solid;">
			<span style="display:block;padding:12px 25px;line-height:120%;">
				<span style="font-size: 16px; line-height: 19.2px;">
					<strong>Connectez-vous pour voir tous les messages</strong>
				</span>
			</span>
		</a> #}
