<!DOCTYPE html>
<html lang="fr">
			<head>
				<!--[if gte mso 9]>
                    <xml>
                        <o:OfficeDocumentSettings>
                        <o:AllowPNG/>
                        <o:PixelsPerInch>96</o:PixelsPerInch>
                        </o:OfficeDocumentSettings>
					</xml>
				<![endif]-->
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta
				name="x-apple-disable-message-reformatting">
				<!--[if !mso]><!-->
				<meta
				http-equiv="X-UA-Compatible" content="IE=edge">
				<!--<![endif]-->
				<title>Contact</title>

                <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap" rel="stylesheet">

				<style>
					type="text/css" table,
					td {
						color: #000000;
					}

					a {
						color: #0000ee;
						text-decoration: underline;
					}

					@media(max-width: 480px) {
						#u_content_text_25 .v-text-align {
							text-align: center !important;
						}

						#u_content_text_7 .v-text-align {
							text-align: center !important;
						}

						#u_content_text_18 .v-container-padding-padding {
							padding: 8px 30px 30px !important;
						}
					}

					@media only screen and(min-width: 620px) {
						.u-row {
							width: 600px !important;
						}

						.u-row .u-col {
							vertical-align: top;
						}

						.u-row .u-col-49p17 {
							width: 295.02px !important;
						}

						.u-row .u-col-50p83 {
							width: 304.98px !important;
						}

						.u-row .u-col-100 {
							width: 600px !important;
						}

					}

					@media(max-width: 620px) {
						.u-row-container {
							max-width: 100% !important;
							padding-left: 0 !important;
							padding-right: 0 !important;
						}

						.u-row .u-col {
							min-width: 320px !important;
							max-width: 100% !important;
							display: block !important;
						}

						.u-row {
							width: calc(100% - 40px) !important;
						}

						.u-col {
							width: 100% !important;
						}

						.u-col > div {
							margin: 0 auto;
						}
					}

					body {
						margin: 0;
						padding: 0;
                        font-family: 'Ubuntu', sans-serif;
					}

					.shadow {
						-webkit-box-shadow: 1px 12px 14px -4px rgba(0,0,0,0.35); 
						box-shadow: 1px 12px 14px -4px rgba(0,0,0,0.35);
					}

					table,
					tr,
					td {
						vertical-align: top;
						border-collapse: collapse;
					}

					p {
						margin: 0;
					}

					.ie-container table,
					.mso-container table {
						table-layout: fixed;
					}

					* {
						line-height: inherit;
					}

					a[x-apple-data-detectors='true'] {
						color: inherit !important;
						text-decoration: none !important;
					}
				</style>

			</head>

			<body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #ffffff;color: #000000">
								<!--[if IE]><div class="ie-container"><![endif]-->
				<!--[if mso]><div class="mso-container"><![endif]-->
					<table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">

						<tbody>
							<tr style="vertical-align: top">
								<td
									style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
									<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #ffffff;"><![endif]-->


									<div class="u-row-container" style="padding: 0px;background-color: transparent">
										<div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #1abc9c;">
											<div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
												<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: #1abc9c;"><![endif]-->

												<!--[if (mso)|(IE)]><td align="center" width="305" style="width: 305px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
													<div class="u-col u-col-50p83" style="max-width: 320px;min-width: 305px;display: table-cell;vertical-align: top;"> <div
														style="width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
														<!--[if (!mso)&(!IE)]><!-->
														<div
															style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
															<!--<![endif]-->

															<table id="u_content_text_25" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:20px 40px;" align="left">

																			<div class="v-text-align" style="color: #f8f8f8; line-height: 160%; text-align: left; word-wrap: break-word;">
																				<p style="font-size: 14px; line-height: 160%;">
																					<span style="font-size: 16px; line-height: 25.6px;">{% block date %}{% endblock %}</span>
																				</p>
																			</div>

																		</td>
																	</tr>
																</tbody>
															</table>

															<!--[if (!mso)&(!IE)]><!-->
														</div>
														<!--<![endif]-->
													</div>
												</div>
												<!--[if (mso)|(IE)]></td><![endif]-->
												<!--[if (mso)|(IE)]><td align="center" width="295" style="width: 295px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
												<div class="u-col u-col-49p17" style="max-width: 320px;min-width: 295px;display: table-cell;vertical-align: top;">
													<div
														style="width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
														<!--[if (!mso)&(!IE)]><!-->
														<div
															style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
															<!--<![endif]-->

															<table id="u_content_text_7" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:20px 40px;" align="left">

																			<div class="v-text-align" style="color: #f8f8f8; line-height: 160%; text-align: left; word-wrap: break-word;">
																				{% block infosContact %}{% endblock %}
																			</div>

																		</td>
																	</tr>
																</tbody>
															</table>

															<!--[if (!mso)&(!IE)]><!-->
														</div>
														<!--<![endif]-->
													</div>
												</div>
												<!--[if (mso)|(IE)]></td><![endif]-->
												<!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
											</div>
										</div>
									</div>


									<div class="u-row-container" style="padding: 0px;background-color: transparent">
										<div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #2c3e50;">
											<div class="shadow" style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
												<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: #2c3e50;"><![endif]-->

												<!--[if (mso)|(IE)]><td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
													<div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;"> <div
														style="width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
														<!--[if (!mso)&(!IE)]><!-->
														<div
															style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
															<!--<![endif]-->

															<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:40px 10px 10px;" align="left">

																			<table width="100%" cellpadding="0" cellspacing="0" border="0">
																				<tr>
																					<td class="v-text-align" style="padding-right: 0px;padding-left: 0px;" align="center">

																						<img align="center" border="0" src="{{ email.image('@public' ~ asset('build/img/logo.png')) }}" alt="Icon" title="Icon" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 23%;max-width: 133.4px;" width="133.4"/>

																					</td>
																				</tr>
																			</table>

																		</td>
																	</tr>
																</tbody>
															</table>

															<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px;" align="left">

																			<div class="v-text-align" style="color: #ffffff; line-height: 110%; text-align: center; word-wrap: break-word;">
																				<p style="font-size: 14px; line-height: 110%;">
																					<span style="font-size: 30px; line-height: 33px;">{% block subject %}{% endblock %}</span>
																				</p>
																			</div>

																		</td>
																	</tr>
																</tbody>
															</table>

															<table id="u_content_text_18" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:8px 80px 30px;" align="left">

																			<div class="v-text-align" style="color: #ffffff; line-height: 160%; text-align: center; word-wrap: break-word;">
																				<p style="font-size: 14px; line-height: 160%;">
																					<span style="font-size: 16px; line-height: 25.6px;">{% block message %}{% endblock %}</span>
																				</p>
																			</div>

																		</td>
																	</tr>
																</tbody>
															</table>

															<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px 55px;" align="left">

																			<div
																				class="v-text-align" align="center">
																				<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td class="v-text-align" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://unlayer.com/" style="height:43px; v-text-anchor:middle; width:394px;" arcsize="9.5%" stroke="f" fillcolor="#1abc9c"><w:anchorlock/><center style="color:#FFFFFF;"><![endif]-->
																				{% block actionsButton %}{% endblock %}
																				<!--[if mso]></center></v:roundrect></td></tr></table><![endif]-->
																			</div>

																		</td>
																	</tr>
																</tbody>
															</table>

															<!--[if (!mso)&(!IE)]><!-->
														</div>
														<!--<![endif]-->
													</div>
												</div>
												<!--[if (mso)|(IE)]></td><![endif]-->
												<!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
											</div>
										</div>
									</div>

									<div class="u-row-container" style="padding: 0px;background-color: transparent">
										<div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #1abc9c;">
											<div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
												<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: #1abc9c;"><![endif]-->

												<!--[if (mso)|(IE)]><td align="center" width="305" style="width: 305px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
												<div class="u-col" style="min-width: 100%;display: table-cell;vertical-align: top;"> 
													<div
														style="width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
														<!--[if (!mso)&(!IE)]><!-->
														<div
															style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
															<!--<![endif]-->

															<table id="u_content_text_25" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
																<tbody>
																	<tr>
																		<td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:20px 40px;" align="left">

																			<div class="v-text-align" style="color: #f8f8f8; line-height: 160%; text-align: center; word-wrap: break-word;">
																				<p style="font-size: .4rem; line-height: 160%;">
																					<span style="font-size: .8rem; line-height: 18px;">
																						Notre politique est de vous satisfaire, c'est pourquoi nous 
																						veillons à vous répondre dans un délai de 3 jours maximum. 
																						En cas de non réponses selon cette condition, n'hésitez pas 
																						à nous le faire signaler !
																					</span>
																				</p>
																			</div>

																		</td>
																	</tr>
																</tbody>
															</table>

															<!--[if (!mso)&(!IE)]><!-->
														</div>
														<!--<![endif]-->
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
								</td>
							</tr>
						</tbody>

				</table>
				<!--[if mso]></div><![endif]-->
				<!--[if IE]></div><![endif]-->
			</body>

		</html>
